<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wine Quality Prediction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <img src="/static/wine_background.jpeg" id="bgimg"/> 
    <div class="container">
        <h1>Wine Quality Prediction</h1>
        
        <form id="score-predictor-form" action="/predict" method="post">
            <div>
                <input type="number" name="fixed_acidity" id="fixed_acidity" min="4.6" max="15.9" step="1" placeholder="Fixed Acidity (4.6 to 15.9)" required>
            </div>
            <div>
                <input type="number" name="volatile_acidity" id="volatile_acidity" min="0.12" max="1.58" step="1" placeholder="Volatile Acidity (0.12 to 1.58)" required>
            </div>
            <div>
                <input type="number" name="citric_acid" id="citric_acid" min="0.0" max="1.0" step="1" placeholder="Citric Acid (0.0 to 1.0)" required>
            </div>
            <div>
                <input type="number" name="residual_sugar" id="residual_sugar" min="0.9" max="15.5" step="1" placeholder="Residual Sugar (0.9 to 15.5)" required>
            </div>
            <div>
                <input type="number" name="chlorides" id="chlorides" min="0.012" max="0.611" step="1" placeholder="Chlorides (0.012 to 0.611)" required>
            </div>
            <div>
                <input type="number" name="free_sulfur_dioxide" id="free_sulfur_dioxide" min="1.0" max="72.0" step="1" placeholder="Free Sulfur Dioxide (1.0 to 72.0)" required>
            </div>
            <div>
                <input type="number" name="total_sulfur_dioxide" id="total_sulfur_dioxide" min="6.0" max="289.0" step="1" placeholder="Total Sulfur Dioxide (6.0 to 289.0)" required>
            </div>
            <div>
                <input type="number" name="density" id="density" min="0.99007" max="1.00369" step="1" placeholder="Density (0.99007 to 1.00369)" required>
            </div>
            <div>
                <input type="number" name="pH" id="pH" min="2.74" max="4.01" step="1" placeholder="PH (2.74 to 4.01)" required>
            </div>
            <div>
                <input type="number" name="sulphates" id="sulphates" min="0.33" max="2.0" step="1" placeholder="Sulphates (0.33 to 2.0)" required>
            </div>
            <div>
                <input type="number" name="alcohol" id="alcohol" min="8.4" max="14.9" step="1" placeholder="Alcohol (8.4 to 14.9)" required>
            </div>
            <button id="show-result-btn" type="submit" class="btn btn-primary" >Predict Wine Quality</button>
        </form>
        <h2>{{results}}</h2>
    </div>
    <footer>
        <p>Made with ❤️ by Shyam Patel</p>
        <div>
            <a href="https://www.linkedin.com/in/shyam-patel-data-science-data-scientist" id="linkedin" target="_blank"><img src="/static/linkedin.png" alt="LinkedIn"></a>
            <a href="https://github.com/shyam8898" id="github" target="_blank"><img src="/static/github.png" alt="GitHub"></a>
        </div>
        <p>&copy; 2023 - All rights reserved</p>
    </footer>
</body>
</html>
